.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  position: absolute;
  top: 0;
  animation: App-logo-spin 1s infinite;
}

.App-logo-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 300px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    left: -90vw;
  }
  to {
    left: 90vw;
  }
}
